.login {
  margin-top: 500px;
  height: 340px;
  width: 350px;
}

div p {
  font-size: x-small;
}

.redirect:hover {
  color: pink;
}

.register_descrip {
  text-align: center;
}

.signin-btn {
  margin: 0 100px;
}
